svg {
  font-family: lato;
}

svg.test {
  background-color: black;
}

text {
  fill: white;
  text-transform: uppercase;
  text-anchor: middle;
  dominant-baseline: hanging;
}

text.title {
  font-weight: 700;
}

text.byline {
  font-weight: 300;
  font-style: italic;
  text-transform: none;
}

text.role {
  font-weight: 100;
}